<p id="notice"><%= notice %></p>
<div class="container" >
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="2"><center>Category Details</center></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @gallery.name %></td>
      </tr>

      <tr>
        <td><strong>Caption:</strong></td>
        <td><%= @gallery.caption %></td>
      </tr>

      <tr>
        <td><strong>Description:</strong></td>
        <td><%= @gallery.description %></td>
      </tr>

      <tr>
        <td>strong>Image:</strong></td>
        <td><%= @gallery.image %></td>
        <td><img src="<%= @gallery.image %>"></td>
      </tr>

       <tr>
        <td><strong>Category List:</strong></td>
        <td>
          <ul>
            <% @gallery.categories.each do |category| %>
              <%= link_to category do %>
                <li class="list-group">
                  <td><%= @category.name %></td>
                </li>
              <% end %>
            <% end %>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>
</div>
      
<%= link_to 'Edit', edit_gallery_path(@gallery), class: "btn btn-info" %> |
<%= link_to 'Back', galleries_path, class: "btn btn-secondary" %>
