<p id="notice"><%= notice %></p>
<div class="container " >
  <div class="card-columns">
    <div class="mr-10 p-1 mt-sm-1 mb-sm-1 ">
      <div class="card-block">
       <h4 class="Image Details"><center>Image Details</center></h4>
        <div class="card bg-light">
      
          <div class="card-body text-center">
            <p class="card-text">
              <p><strong>Name:</strong></p>
              <p><%= @gallery.name %></p>
            </p>
          </div>

          <div class="card-body text-center">  
            
              <p class="card-text">
                 <p><strong>Image:</strong></p>
              <div class="inner" role="listbox">
                <div class="item active panzoom">
                  <%= link_to image_tag(@gallery.image), :class => "card-img", :alt => "Card image cap" %>
                </div>
                
                <p><%#= @gallery.image %></p>
                <%#= link_to image_tag(@gallery.image), :class => "card-img", :alt => "Card image cap" %>
              </p>
            </div>
          </div>
            
          <div class="card-body text-center">
            <p class="card-text">
              <p><strong>Caption:</strong></p>
              <p><%= @gallery.caption %></p>
            </p>
          </div>

          <div class="card-body text-center">
            <p class="card-text">
              <p><strong>Description:</strong></p>
              <p><%= @gallery.description %></p>
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Desc</button>
              <div id="demo" class="collapse">
                <% if @gallery.description.length > 250 %>
                <% else %>
                  <%= @gallery.description %>
                <% end %>
              </div>
            </p>
          </div>

          <div class="card-body text-center">
            <p class="card-text">
              <p><strong>Category List:</strong></p>
               <ul>
                <% @gallery.categories.each do |category| %>
                  <%= link_to category do %>
                    <li class="list-group">
                      <%= category.name_with_code %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
   
<%= link_to 'Edit', edit_gallery_path(@gallery), class: "btn btn-info" %> |
<%= link_to 'Back', galleries_path, class: "btn btn-secondary" %>

<<script type="text/javascript">
  (function() {
    var $section = $('div').first();
    $section.find('.panzoom').panzoom({
      $zoomIn: $section.find(".zoom-in"),
      $zoomOut: $section.find(".zoom-out"),
      $zoomRange: $section.find(".zoom-range"),
      $reset: $section.find(".reset")
    });

  })();
</script>
